body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content:space-between;
}
.header-container {
    display: flex;
    background-color:dimgrey;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.main-container {
    display: flex;
    background-color:darkseagreen;
    flex-direction: row;
    align-self: stretch;
    height: 100%;
    justify-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color:dimgray;
    align-self: stretch;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.footer-item{
    display: flex;
    background-color:aliceblue;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.content{
    display: flex;
    background-color:beige;
    width: 100%;
    flex-direction: column;
}
.right-container{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.row1{
    flex-direction: row;
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}
.row2{
    flex-direction: row;
    display: flex;
    height: 30%;
    align-items: center;
    margin: 10px;

}
.row3{
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:yellow;
    margin: 30px;

}
.content-item{
    display: flex;
    height: 100%;
    width: 100%;
    background-color:yellow;
    justify-content: center;
    align-items: center;
    margin: 20px;

}